<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>LUMOO | New Password</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" href="/css/lumoo.css">
</head>
<body class="bg-[#f9f9f9] flex items-center justify-center min-h-screen font-['Nunito_Sans']">
    <div class="w-full max-w-md bg-white p-12 shadow-sm border border-gray-100">
        <h2 class="text-3xl font-light tracking-tighter mb-8 uppercase text-[#4d78c0]">New <span class="font-black italic text-black">Security.</span></h2>
        <form th:action="@{/reset-password}" method="post" class="space-y-6">
            <input type="hidden" name="token" th:value="${token}">
            <input type="hidden" th:if="${_csrf != null}" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
            <div>
                <label class="text-[9px] uppercase tracking-widest font-black text-gray-400">Enter New Password</label>
                <input type="password" name="password" required 
                       class="w-full border-b-2 border-gray-100 py-3 focus:border-[#1a2336] outline-none transition text-sm">
            </div>
            <button type="submit" class="w-full bg-[#1a2336] text-white py-4 text-[10px] font-bold uppercase tracking-[0.3em] hover:bg-gray-800 transition">
                Update Password
            </button>
        </form>
    </div>
    <div th:replace="~{fragments/loading :: loading}"></div>
</body>
</html>
